/* ↓google font 使い方
 *//* font-family: 'Philosopher', sans-serif; */

header a {
 padding: 20px;
}


.nav-lists {
 float: right;
 display: flex;
 list-style: none;
}

.nav-lists a:hover {
 color: #00bfff;
}

.nav-lists a {
 text-decoration: none;
 color: black;

}

header li{
 padding: 40px 100px 0px 0px ;
}


footer {
 width: 100%;
 height: 50px;
 color: white;
 background-color: black;
 text-align: center;
 position: absolute;
 bottom: 0;
 padding-top: 15px;
}